@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0 0.5rem;
}

.img-banner {
  display: block;
  width: 100%;
  height: 5rem;
  max-width: 100vw;
  object-fit: cover;
  overflow-x: hidden;
}

.btn {
  background-color: orange;
  padding: 0.8rem 1rem;
  margin: 0.7rem 0;
  display: inline-block;
  color: white;
  border-radius: 0.3rem;
  border: 0.125rem orange;
}
.btn:hover {
  background-color: darkorange; /* slightly darker on hover */
  color: black; /* optional: change text color for effect */
}